<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New ITN</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Add New ITN</h1>
<form th:action="@{/itns}" th:object="${itn}" method="post" novalidate>
    <label>Subject:</label>
    <input
            type="text"
            th:field="*{subject}"
            data-required="true"
            data-error="Subject is required."
    />
    <span th:if="${subjectErr}" th:text="${subjectErr}" class="error"></span>
    <br />

    <label>Description:</label>
    <input
            type="text"
            th:field="*{description}"
            data-required="true"
            data-error="Description is required."
    />
    <span th:if="${descriptionErr}" th:text="${descriptionErr}" class="error"></span>
    <br />

    <label>Student to Award:</label>
    <select th:field="*{studentEmail}" data-required="true" data-error="Student to award is required.">
        <option value="">--Select--</option>
        <option th:each="studentEmail : ${studentEmails}"
                th:value="${studentEmail}"
                th:text="${studentEmail}"></option>
    </select>
    <br />
    <span th:if="${studentEmailErr}" th:text="${studentEmailErr}" class="error"></span>
    <br />

    <label>Teacher who Awarded:</label>
    <select th:field="*{teacherEmail}" data-required="true" data-error="Teacher who awarded is required.">
        <option value="">--Select--</option>
        <option th:each="teacherEmail : ${teacherEmails}"
                th:value="${teacherEmail}"
                th:text="${teacherEmail}"></option>
    </select>
    <br />
    <span th:if="${teacherEmailErr}" th:text="${teacherEmailErr}" class="error"></span>
    <br />

    <label>Status:</label>
    <select th:field="*{status}" data-required="true" data-error="Status is required.">
        <option value="">--Select--</option>
        <option th:each="status : ${T(v.yeikovych.tinprojectsp.model.itn.ItnStatus).values()}"
                th:value="${status}"
                th:text="${status}"></option>
    </select>
    <br />
    <span th:if="${statusErr}" th:text="${statusErr}" class="error"></span>
    <br />

    <label>Date Issued:</label>
    <input
            type="date"
            th:field="*{dateIssued}"
            data-required="true"
            data-error="Date issued cannot be empty."
    />
    <span th:if="${dateIssuedErr}" th:text="${dateIssuedErr}" class="error"></span>
    <br />

    <button type="submit">Add</button>
    <button class="back-button" type="button" onclick="location.href='/itns'">Back</button>
</form>
<script src="/js/validation.js"></script>
</body>
</html>
