<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="logout-page">
    <div class="logout-box">
        <form th:action="@{/logout}" method="post">
            <p>Are you sure you want to log out?</p>
            <div class="buttons">
                <a th:href="@{/}">
                    <button class="cancel-button" type="button">Cancel</button>
                </a>
                <button class="logout-button" type="submit">Log Out</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>