<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Student</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>Add New Student</h1>
<form th:action="@{/students}" th:object="${student}" method="post" novalidate>
    <label>First Name:</label>
    <input
            type="text"
            th:field="*{firstName}"
            data-required="true"
            data-error="First name is required."
    />
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
    <br />

    <label>Last Name:</label>
    <input
            type="text"
            th:field="*{lastName}"
            data-required="true"
            data-error="Last name is required."
    />
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
    <br />

    <label>Email:</label>
    <input
            type="email"
            th:field="*{email}"
            data-required="true"
            data-error="Valid email is required."
    />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
    <br />

    <label>Age:</label>
    <input
            type="number"
            th:field="*{age}"
            data-required="true"
            data-error="Age is required and must be valid."
    />
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error"></span>
    <br />

    <label>Active:</label>
    <input type="checkbox" th:field="*{active}" /><br />

    <button type="submit">Save</button>
    <button class="back-button" type="button" onclick="location.href='/students'">Back</button>
</form>
<script src="/validation.js"></script>
</body>
</html>