<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>Students</h1>
<a th:href="@{/}">Back to Main</a>
<a th:href="@{/students/new}">Add New Student</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName + ' ' + student.lastName}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.age}"></td>
        <td>
            <a th:href="@{/students/edit/{id}(id=${student.id})}">Edit</a>
            <a th:href="@{/students/delete/{id}(id=${student.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>